
/*_____________________________________________________________________body___*/
body
{
	background-image: url(../images/cosmos.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}
/*___________________________________________________________________header___*/



/*_________________________________________________________________/ header___*/

/*__________________________________________________________________section___*/



/*________________________________________________________________/ section___*/

/*___________________________________________________________________footer___*/



/*_________________________________________________________________/ footer___*/
/*___________________________________________________________________/ body___*/
